<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Department Form</h1>
<div>
<form action="#" th:action="@{/processDepartment}" th:object="${department}" method="post">
    <input type="hidden" th:field="*{id}" />

    Department Name: <input type="text" th:field="*{deptName}" />
    <span th:if="${#fields.hasErrors('deptName')}" th:errors="*{deptName}"></span><br/>

    <input type="submit" value="Submit" />
</form>
</div>
</body>
</html>

