<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-------- Bootstrap --------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-------- Bootstrap --------->

    <!-- Personal Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<div th:replace="base :: navlinks"></div>



        <h2 class="title-style" style="text-align: center">Department & Employee Database</h2>

        <p class="square">Welcome to the Department & Employee database! If you are an employee you can search for a department
            in the search bar. If you are an Administrator, please <a href="/secure" style="text-align: center">click here</a> to
            log in into the secure page.
        </p>
        <br/>



        <div class="square-display" th:each="deparment : ${deparments}">
            <h1>Departments & Employee list </h1>
            <br/>
            <br/>
            <h4>Department: <span th:text="${deparment.deptName}"></span> </h4>
            <h4>Employees in this department: </h4>

            <ul>
                <div th:each="user : ${deparment.users}" >
                    <img th:src="${user.headshot}" height="200">
                    <br/>
                    <li th:inline="text">
                        First Name: [[${user.firstName}]] <br/>
                        Last Name: [[${user.lastName}]] <br/>
                        Email: [[${user.email}]] <br/>
                        <h3>Send and email! </h3>
                        <a th:href="@{/sendemail/{id}(id=${user.id})}">Send Email</a>
                        <br/>
                        <br/>
                    </li>
                </div>
            </ul>
        </div>



</body>
</html>



<!--
<table>
    <thead>
    <tr>
       <th>Department</th>
        <th>Employee</th>
        <th>Employee Picture</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="deparment : ${deparments}">
        <td th:text="${deparment.deptName}"> </td><br/>
     <div   th:each="user : ${deparment.users}">
        <td th:text="${user.firstName}">   </td>
         <div th:if="${user.headshot} != null">
           <td>  <img th:src="${user.headshot}" height="200">  </td>
     </div>
     </div>
    </tr>
    </tbody>
</table>
</div>
-->
<!--
<div th:each="deparment : ${deparments}">
    <h2>Department: </h2>
    <h3 th:text="${deparment.deptName}"></h3>

<h2>Employees in this department: </h2>
<div th:each="user : ${deparment.users}">
    <h3 th:text="${user.firstName}"></h3>

</div>
</div>
-->