<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<br/>

<div th:each="deparment : ${departments}">
    <h3>Department: <span th:text="${deparment.deptName}"></span> </h3>
    <h3>Employees in this department: </h3>

    <ul>
        <div th:each="user : ${deparment.users}" >
            <img th:src="${user.headshot}" height="200">
            <br/>
            <li th:inline="text">
                First Name: [[${user.firstName}]] <br/>
                Last Name: [[${user.lastName}]] <br/>
                Email: [[${user.email}]] <br/>
                <br/>
                <br/>
            </li>
        </div>
    </ul>
</div>

<!--
<table>
    <thead>
    <tr>
        <th>Department</th>
        <th>Employee</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="deparment : ${departments}">
        <td th:text="${deparment.deptName}"> </td><br/>
        <div   th:each="user : ${deparment.users}">
            <td th:text="${user.firstName}">   </td>
        </div>
    </tr>
    </tbody>
</table>
-->

</body>
</html>